#stripes {
    background-image: repeating-linear-gradient(
        45deg,
        rgba(255,255,255,0.05),
        rgba(255,255,255,0.05) 2px,
        transparent 2px,
        transparent 20px
    );
    position: fixed; /* Fijo para que siempre cubra todo el viewport */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
}
